<form [formGroup]="formGroup">
  <section>
    <article>
      <mat-form-field appearance="outline" *ngIf="needZeroFindingMethod">
        <mat-label>{{ 'ASSIGNMENT_PROBLEM.ZERO_FINDING.LABEL' | translate }}</mat-label>
        <mat-select formControlName="zeroFindingMethod">
          <mat-option [value]="'greedy'"
            >{{ 'ASSIGNMENT_PROBLEM.ZERO_FINDING.OPTIONS.GREEDY' | translate }}</mat-option
          >
          <mat-option [value]="'heuristics'"
            >{{ 'ASSIGNMENT_PROBLEM.ZERO_FINDING.OPTIONS.HEURISTICS' | translate }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="needProblemType">
        <mat-label>{{ 'ASSIGNMENT_PROBLEM.PROBLEM_TYPE' | translate }}</mat-label>
        <mat-select formControlName="problemType">
          <mat-option [value]="'minimum'">Minimum</mat-option>
          <mat-option [value]="'maximum'">Maximum</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ 'ASSIGNMENT_PROBLEM.TABLE_SIZE_SELECT' | translate }}</mat-label>
        <mat-select formControlName="tableSize">
          <mat-option [value]="4">4</mat-option>
          <mat-option [value]="5">5</mat-option>
          <mat-option [value]="6">6</mat-option>
          <mat-option [value]="7">7</mat-option>
        </mat-select>
      </mat-form-field>
    </article>
    <opres-input-table
      class="table-wrapper"
      key="assignment-table"
      [tableSource]="table | async"
      [rows]="formGroup.get('tableSize')?.value"
      [columns]="formGroup.get('tableSize')?.value"
      (tableChange)="onTableChange($event)"
    ></opres-input-table>
  </section>
</form>
<section>
  <loading-button [loading]="isLoading$" [invalid]="formGroup.invalid" (click)="onCalculate()"
    >{{'CALCULATE_BUTTON' | translate}}</loading-button
  >
  <button mat-flat-button color="primary" type="button" (click)="onTableClear()">
    {{'TABLE_CLEAR_BUTTON' | translate}}
  </button>
</section>
