$primary: var(--primary);
$accent: var(--accent);
$warn: var(--warn);

$primary-light: var(--primary-light);
$accent-light: var(--accent-light);
$warn-light: var(--warn-light);

$primary-dark: var(--primary-dark);
$accent-dark: var(--accent-dark);
$warn-dark: var(--warn-dark);

$primary-shade: var(--primary-shade);

$primary-text: var(--primary-text);
