<mat-stepper linear>
  <mat-step [stepControl]="firstStepFormGroup">
    <ng-template matStepLabel>Costs</ng-template>
    <form [formGroup]="firstStepFormGroup">
      <section>
        <article>
          <mat-form-field appearance="outline">
            <mat-label
              >{{'TRANSPORTATION_PROBLEM.COLUMNS_SELECT' |
              translate}}</mat-label
            >
            <input
              matInput
              type="number"
              min="3"
              max="8"
              formControlName="shops"
              data-test-id="number-of-shops-input"
              [defaultValue]="4"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label
              >{{'TRANSPORTATION_PROBLEM.ROWS_SELECT' | translate}}</mat-label
            >
            <input
              matInput
              type="number"
              min="3"
              max="8"
              formControlName="storages"
              data-test-id="number-of-storages-input"
              [defaultValue]="4"
            />
          </mat-form-field>
        </article>
        <opres-input-table
          key="costs"
          [rows]="firstStepFormGroup.get('storages')?.value | sizeVerify"
          [columns]="firstStepFormGroup.get('shops')?.value | sizeVerify"
          [tableSource]="costs$ | async"
          (tableChange)="onCostsChange($event)"
        ></opres-input-table>
      </section>
      <section *ngIf="firstStepFormGroup.hasError('nullCost')">
        <mat-error>All cost cells must be filled.</mat-error>
      </section>
      <section>
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="onCostsClear()"
        >
          Clear
        </button>
        <button mat-flat-button color="primary" type="button" matStepperNext>
          Next
        </button>
      </section>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondStepFormGroup">
    <ng-template matStepLabel>Transportations</ng-template>
    <form [formGroup]="secondStepFormGroup">
      <section>
        <opres-input-table
          key="transportations"
          [rows]="firstStepFormGroup.get('storages')?.value | sizeVerify"
          [columns]="firstStepFormGroup.get('shops')?.value | sizeVerify"
          [tableSource]="transportations$ | async"
          (tableChange)="onTransportationsChange($event)"
        ></opres-input-table>
      </section>
      <section *ngIf="secondStepFormGroup.hasError('noTransport')">
        <mat-error>There must be at least one transportation.</mat-error>
      </section>
      <section>
        <button
          mat-flat-button
          color="primary"
          type="button"
          matStepperPrevious
        >
          Previous
        </button>
        <button
          mat-flat-button
          color="primary"
          type="button"
          (click)="onTransportationsClear()"
        >
          Clear
        </button>
        <button mat-flat-button color="primary" type="button" matStepperNext>
          Next
        </button>
      </section>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Review</ng-template>
    <section>
      <div class="wrapper">
        <info-card type="info"
          >Make sure the table below is the one that you want to use.</info-card
        >
      </div>
    </section>
    <section>
      <opres-table
        [tableSource]="transportations$"
        [badgeSource]="costs$"
        [showZeros]="false"
      ></opres-table>
    </section>
    <section>
      <button mat-flat-button color="primary" type="button" matStepperPrevious>
        Previous
      </button>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="onCalculate()"
      >
        Calculate
      </button>
    </section>
  </mat-step>
</mat-stepper>
<epsilon-result [epsilon]="result$ | async"></epsilon-result>
