$background-primary: var(--background-primary);
$background-accent: var(--background-accent);

$primary: var(--primary);
$primary-variant: var(--primary-variant);

$accent: var(--accent);
$accent-variant: var(--accent-variant);

$warn: var(--warn);
$warn-variant: var(--warn-variant);

$shade: var(--shade);

$primary-text: var(--primary-text);
