<mat-divider></mat-divider>
<h1 class="title">
  {{ 'TRANSPORTATION_PROBLEM.TABS.ALL.SECOND_PHASE_RESULT_TITLE' | translate:
  {steps: secondPhaseResult?.steps?.length} }}
</h1>
<mat-tab-group
  mat-stretch-tabs
  #matTabGroup
  (selectedTabChange)="onSelectedTabChange()"
>
  <mat-tab
    *ngFor="let step of secondPhaseResult?.steps; let index = index"
    [label]="index + 1 + '.'"
  >
    <div class="content-wrapper">
      <mat-card *ngIf="step?.explanation as explanation">
        <mat-card-title
          >{{'TRANSPORTATION_PROBLEM.TABS.ALL.EXPLANATION_TITLE' |
          translate}}</mat-card-title
        >
        <mat-card-content>{{explanation}} </mat-card-content>
      </mat-card>
      <div class="table-wrapper">
        <opres-table
          [tableSource]="step?.transportation || [] | transportTableToTable"
          [badgeSource]="step?.transportation || [] | transportTableToTable: 'cost'"
          [secondaryBadgeSource]="step?.transportation || [] | transportTableToTable: 'reducedCost'"
          [mainMarkedCell]="step?.nextBase"
          [markedCells]="step?.circle"
          [showZeros]="false"
        ></opres-table>
        <opres-table
          [tableSource]="step?.auxiliaryVariables?.y || [] | arrayToTableColumn"
        ></opres-table>
        <opres-table
          [tableSource]="step?.auxiliaryVariables?.x || [] | arrayToTableRow"
        ></opres-table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="wrapper">
  <info-card>
    <strong
      >{{'TRANSPORTATION_PROBLEM.SECOND_PHASE_TABLE_EXPLANATIONS.TITLE' |
      translate}}</strong
    >
    <ul>
      <li
        *ngFor="let explanationTranslateKey of explanationTranslateKeys"
        class="table-explanations"
      >
        <strong
          >{{'TRANSPORTATION_PROBLEM.SECOND_PHASE_TABLE_EXPLANATIONS.' +
          explanationTranslateKey + '.TITLE' | translate}}</strong
        >: {{'TRANSPORTATION_PROBLEM.SECOND_PHASE_TABLE_EXPLANATIONS.' +
        explanationTranslateKey + '.DESCRIPTION' | translate}}
      </li>
    </ul>
  </info-card>
</div>
<epsilon-result
  [epsilon]="secondPhaseResult?.epsilon"
  [language]="language"
></epsilon-result>
