form {
  display: flex;
  flex-direction: column;
  align-items: center;

  button[type='submit'] {
    margin: 8px;
  }

  .input-table-wrapper {
    padding: 8px;
    width: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 16px;
    justify-content: start;
    overflow-x: auto;
  }
}
