<section>
  <div class="wrapper">
    <info-card width="600px">
      <span
        >{{'TRANSPORTATION_PROBLEM.TABS.ALL.TABLE_EXPLANATION' |
        translate}}</span
      >
      <br /><br />
      <strong>{{'TRANSPORTATION_PROBLEM.TABS.ALL.INFO' | translate}}</strong>
    </info-card>
  </div>
</section>
<form [formGroup]="formGroup">
  <section>
    <article>
      <mat-form-field appearance="outline">
        <mat-label
          >{{'TRANSPORTATION_PROBLEM.COLUMNS_SELECT' | translate}}</mat-label
        >
        <input
          matInput
          type="number"
          min="3"
          max="8"
          formControlName="shops"
          data-test-id="number-of-shops-input"
          [defaultValue]="4"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label
          >{{'TRANSPORTATION_PROBLEM.ROWS_SELECT' | translate}}</mat-label
        >
        <input
          matInput
          type="number"
          min="3"
          max="8"
          formControlName="storages"
          data-test-id="number-of-storages-input"
          [defaultValue]="4"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label
          >{{'TRANSPORTATION_PROBLEM.TABS.ALL.METHOD_SELECT.LABEL' |
          translate}}</mat-label
        >
        <mat-select
          matNativeControl
          required
          data-test-id="method-select"
          formControlName="method"
        >
          <mat-option value="north-west"
            >{{'TRANSPORTATION_PROBLEM.TABS.ALL.METHOD_SELECT.OPTION_NW' |
            translate}}</mat-option
          >
          <mat-option value="table-min"
            >{{'TRANSPORTATION_PROBLEM.TABS.ALL.METHOD_SELECT.OPTION_TM' |
            translate}}</mat-option
          >
          <mat-option value="vogel-korda"
            >{{'TRANSPORTATION_PROBLEM.TABS.ALL.METHOD_SELECT.OPTION_VK' |
            translate}}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </article>
    <transport-table
      [shopsCount]="formGroup.get('shops')?.value | sizeVerify"
      [storagesCount]="formGroup.get('storages')?.value | sizeVerify"
      (costChange)="onCostChange($event)"
      (demandChange)="onDemandChange($event)"
      (stockChange)="onStockChange($event)"
      (tableClear)="reset()"
    ></transport-table>
  </section>
  <section>
    <mat-error *ngIf="formGroup.hasError('invalidTPData')"
      >{{'TRANSPORTATION_PROBLEM.TABS.ALL.INVALID_TP_DATA' |
      translate}}</mat-error
    >
  </section>
  <section>
    <loading-button
      [loading]="isLoading$"
      [invalid]="formGroup.invalid"
      (click)="onCalculate()"
      >{{'CALCULATE_BUTTON' | translate}}</loading-button
    >
  </section>
</form>
<div class="wrapper" *ngIf="results$ | async as results">
  <ng-container *ngIf="{currentLanguage: currentLanguage$ | async} as subs">
    <first-phase-steps
      [firstPhaseResult]="results.firstPhase"
      [language]="subs.currentLanguage"
    ></first-phase-steps>
    <second-phase-steps
      [secondPhaseResult]="results.secondPhase"
      [language]="subs.currentLanguage"
    ></second-phase-steps>
  </ng-container>
</div>
