@import 'libs/shared/styles/colors';

:host {
  .content-wrapper {
    padding: 8px calc(env(safe-area-inset-right) + 8px) 8px 8px;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    article {
      display: flex;
      flex-direction: column;
    }

    article.assignment-table-wrapper {
      display: grid;
      padding: 8px;
      overflow-x: auto;
    }
  }

  mat-form-field {
    margin: 8px;
  }

  mat-hint {
    display: block;
    max-width: 500px;
    margin-bottom: 8px;

    &.info {
      color: $accent;
    }
  }

  button[type='submit'] {
    margin: 8px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    padding: 8px;
  }

  .result-table {
    padding: 8px 0;
  }
}
