@import '../../styles/variables/colors';

form {
  padding: 8px;

  mat-hint {
    display: block;
    max-width: 500px;
    margin-bottom: 8px;

    &.info {
      color: $accent;
    }
  }

  .assignment-table-wrapper {
    padding: 8px 0;
    overflow-y: auto;
  }
}

button[type='submit'] {
  margin: 8px 8px 0 0;
}

.wrapper {
  padding-bottom: 16px;
}

.result-table {
  padding: 8px;
}
