@import '../../styles/variables/colors';

:host {
  padding-right: env(safe-area-inset-right);
}

form {
  padding: 16px;

  mat-hint {
    display: block;
    max-width: 500px;
    margin-bottom: 8px;

    &.info {
      color: $accent;
    }
  }

  .assignment-table-wrapper {
    padding: 8px; // the right side is still not perfect
    overflow-y: auto;
  }
}

button[type='submit'] {
  margin: 8px 16px 0 0;
}

.wrapper {
  padding-bottom: 16px;
}

.result-table {
  padding: 8px;
}
