<div class="layout-wrapper">
  <mat-toolbar color="primary">
    <mat-icon
      svgIcon="opres"
      aria-label="Opres"
      [inline]="true"
      class="logo"
      (click)="onLogoRedirect()"
    ></mat-icon>
    <span class="toolbar-spacer"></span>
    <theme-switcher></theme-switcher>
    <language-switcher></language-switcher>
    <button
      *ngIf="mobileQuery.matches"
      mat-icon-button
      (click)="sidenav.toggle()"
    >
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container autosize>
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!mobileQuery.matches"
    >
      <mat-nav-list>
        <a
          *ngFor="let route of ROUTES"
          mat-list-item
          routerLinkActive="selected-nav-list-element"
          [routerLink]="route.path"
          (click)="mobileQuery.matches && sidenav.toggle()"
          >{{route.title | translate}}</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
