@import '../../styles/variables/colors';

.layout-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    .logo {
      height: 36px;
      cursor: pointer;
    }

    .toolbar-spacer {
      flex: 1 1 auto;
    }
  }

  mat-sidenav-container {
    flex: 1;

    .selected-nav-list-element {
      color: $primary-variant;
      background-color: $shade;
    }

    .main-content {
      box-sizing: border-box;
      padding: 12px;
    }
  }
}

.selected {
  color: $primary-variant;
  background-color: $shade;
}
