@import '../../styles/variables/colors';

.layout-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-toolbar {
    z-index: 9;

    .logo {
      height: 36px;
      cursor: pointer;
    }

    .toolbar-spacer {
      flex: 1 1 auto;
    }
  }

  mat-sidenav-container {
    flex: 1;

    .selected-nav-list-element {
      color: $primary-variant;
      background-color: $shade;
    }

    .main-content {
      overflow-x: hidden;
      box-sizing: border-box;
    }
  }
}

.selected {
  color: $primary-variant;
  background-color: $shade;
}

@media (max-width: 475px) {
  .layout-wrapper mat-toolbar .logo {
    height: 28px;
  }
}
