<ng-container *ngIf="{selectedTheme: selectedTheme$ | async} as sub">
  <button
    type="button"
    mat-icon-button
    data-test-id="theme-switcher"
    [matMenuTriggerFor]="themeMenu"
  >
    <mat-icon class="mat-18">format_color_fill</mat-icon>
  </button>

  <mat-menu #themeMenu="matMenu" data-test-id="theme-switcher-menu">
    <button
      mat-menu-item
      *ngFor="let theme of THEMES"
      [ngClass]="{selected: theme.id === sub.selectedTheme}"
      (click)="onThemeSelect(theme.id)"
    >
      <span>{{theme.label | translate}}</span>
    </button>
  </mat-menu>
</ng-container>
