@use 'sass:map';
@use '@angular/material' as mat;
@import 'apps/frontend/src/app/styles/variables/colors';

@include mat.core();

$frontend-light-primary: mat.define-palette(mat.$teal-palette, 700);
$frontend-light-accent: mat.define-palette(mat.$orange-palette, 900);
$frontend-light-warn: mat.define-palette(mat.$red-palette, 900);

$frontend-dark-primary: mat.define-palette(mat.$teal-palette, 500);
$frontend-dark-accent: mat.define-palette(mat.$orange-palette, 300);
$frontend-dark-warn: mat.define-palette(mat.$red-palette, 200);

$frontend-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $frontend-light-primary,
      accent: $frontend-light-accent,
      warn: $frontend-light-warn,
    ),
  )
);

$frontend-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $frontend-dark-primary,
      accent: $frontend-dark-accent,
      warn: $frontend-dark-warn,
    ),
  )
);

@include mat.all-component-themes($frontend-light-theme);

.dark-theme {
  @include mat.all-component-themes($frontend-dark-theme);
}

body {
  --background-primary: #fafafa;
  --background-accent: #fff;

  --primary: #{mat.get-color-from-palette($frontend-light-primary, 700)};
  --primary-variant: #{mat.get-color-from-palette($frontend-light-primary, 800)};
  --primary-text: black;

  --accent: #{mat.get-color-from-palette($frontend-light-accent, 800)};
  --accent-variant: #{mat.get-color-from-palette($frontend-light-accent, 200)};

  --warn: #{mat.get-color-from-palette($frontend-light-warn, 900)};
  --warn-variant: #{mat.get-color-from-palette($frontend-light-warn, 500)};

  --shade: rgba(0, 0, 0, 0.12);

  &.dark-theme {
    --background-primary: #303030;
    --background-accent: #424242;

    --primary: #{mat.get-color-from-palette($frontend-dark-primary, 500)};
    --primary-variant: #{mat.get-color-from-palette($frontend-dark-primary, 100)};
    --primary-text: white;

    --accent: #{mat.get-color-from-palette($frontend-dark-accent, 300)};
    --accent-variant: #{mat.get-color-from-palette($frontend-dark-accent, 600)};

    --warn: #{mat.get-color-from-palette($frontend-dark-warn, 200)};
    --warn-variant: #{mat.get-color-from-palette($frontend-dark-warn, 300)};

    --shade: rgba(255, 255, 255, 0.12);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

a {
  color: $accent;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.loading-button {
  .mat-button-wrapper {
    display: flex;
    align-items: center;
  }
}
