<form>
  <mat-form-field appearance="outline">
    <mat-label
      >{{'TRANSPORTATION_PROBLEM.COLUMNS_SELECT' | translate}}</mat-label
    >
    <mat-select
      matNativeControl
      required
      value="4"
      data-test-id="number-of-shops-select"
      (selectionChange)="onShopsCountChange($event)"
    >
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="6">7</mat-option>
      <mat-option value="6">8</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{'TRANSPORTATION_PROBLEM.ROWS_SELECT' | translate}}</mat-label>
    <mat-select
      matNativeControl
      required
      value="4"
      data-test-id="number-of-storages-select"
      (selectionChange)="onStoragesCountChange($event)"
    >
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="6">6</mat-option>
      <mat-option value="6">7</mat-option>
      <mat-option value="6">8</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label
      >{{'TRANSPORTATION_PROBLEM.METHOD_SELECT.LABEL' | translate}}</mat-label
    >
    <mat-select
      matNativeControl
      required
      [value]="selectedMethod$ | async"
      data-test-id="method-select"
      (selectionChange)="onMethodSelect($event)"
    >
      <mat-option value="north-west"
        >{{'TRANSPORTATION_PROBLEM.METHOD_SELECT.OPTION_NW' |
        translate}}</mat-option
      >
      <mat-option value="table-min" disabled
        >{{'TRANSPORTATION_PROBLEM.METHOD_SELECT.OPTION_TM' |
        translate}}</mat-option
      >
      <mat-option value="vogel-korda" disabled
        >{{'TRANSPORTATION_PROBLEM.METHOD_SELECT.OPTION_VK' |
        translate}}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-hint>
    {{'TRANSPORTATION_PROBLEM.TABLE_EXPLANATION' | translate}}
  </mat-hint>
  <mat-hint class="info">
    {{'TRANSPORTATION_PROBLEM.PAGE_INFO' | translate}}
  </mat-hint>
  <transport-table (tableClear)="reset()"></transport-table>
  <mat-error *ngIf="error | async as err">{{err}}</mat-error>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    data-test-id="calculate-button"
    (click)="onCalculate($event)"
  >
    {{'CALCULATE_BUTTON' | translate}}
  </button>
</form>
<div class="result-wrapper">
  <p *ngIf="resultEpsilon$ | async as epsilon">
    {{'TRANSPORTATION_PROBLEM.EPSILON' | translate:{epsilon} }}
  </p>
  <result-table
    *ngFor="let resultSource of (results | async); let i = index"
    [title]="i + 1 + '. step'"
    [result]="resultSource"
  ></result-table>
</div>
