@import '../../styles/variables/colors';

:host {
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  border-radius: 30px;
  color: white;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  mat-card {
    background-image: -webkit-linear-gradient(left, $primary, $accent-variant);
    color: white;
    border-radius: 12px;
    text-align: center;

    mat-card-header {
      justify-content: center;
      z-index: 9;
    }
  }
}

main {
  padding: 40px 0;

  // FIXME [2022-05-07] Remove this & the hint from the template
  .mat-hint {
    color: $accent;
  }

  section {
    text-align: center;
  }
}

footer {
  background-color: $background-accent;
  padding: 24px 0;
  border-radius: 12px;

  p {
    margin: 0;
    padding: 6px 0;
    text-align: center;
  }
}
